In [ ]:
import pandas as pd        
import numpy as np

In [ ]:
df=pd.read_csv("Pandas.csv")

In [ ]:
df.head()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563

In [ ]:
df.tail()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [ ]:
df.shape

(500, 13)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqcity      500 non-null    object
 6   Ceo         500 non-null    object
 7   Ceo-title   500 non-null    object
 8   Revenues    500 non-null    int64
 9   Revchange   500 non-null    float64
 10  Profits     500 non-null    float64
 11  Prftchange  500 non-null    object
 12  Assets      500 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 50.9+ KB

In [ ]:
sub_df= df[["Rank","Title","Employees","Sector","Revenues","Profits"]]

In [ ]:
sub_df.head(3)

   Rank               Title  Employees      Sector  Revenues  Profits
0     1             Walmart    2300000   Retailing    485873  13643.0
1     2  Berkshire Hathaway     367700  Financials    223604  24074.0
2     3               Apple     116000  Technology    215639  45687.0

In [ ]:
sub_df.describe()

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [ ]:
mean_revenue= sub_df["Revenues"].mean()           
mean_revenue

24111.748

In [ ]:
mode_revenue= sub_df["Revenues"].mode()           
mode_revenue

0    9061
Name: Revenues, dtype: int64

In [ ]:
median_revenue= sub_df["Revenues"].median()      
median_revenue

11384.0

In [ ]:
C_revenue= sub_df["Revenues"].min()              
C_revenue

5145

In [ ]:
W_revenue= sub_df["Revenues"].max()               
W_revenue

485873

In [ ]:
range= W_revenue-C_revenue                      
range

480728

In [ ]:
range=sub_df["Revenues"].max()-sub_df["Revenues"].min()
range

480728

In [ ]:
st=sub_df["Revenues"].std()             
st

38337.35333653324

In [ ]:
sd=sub_df["Revenues"].var()           
sd

1469752660.8501961

In [ ]:
q1 = sub_df["Revenues"].quantile(0.25)
q1

7245.0

In [ ]:
q3 = sub_df["Revenues"].quantile(0.75)
q3

22605.25

In [ ]:
iqr= q3-q1
iqr

15360.25

In [ ]:
iqr2= sub_df["Revenues"].quantile(0.75)-sub_df["Revenues"].quantile(0.25)          
iqr2

15360.25

In [ ]:
skew= sub_df["Revenues"].skew()      
skew

5.480066970305041

In [ ]:
cv= (sub_df["Revenues"].std()/sub_df["Revenues"].mean()) *100        
cv

158.99864803055027

In [ ]:
cv2= (sub_df["Profits"].std()/sub_df["Profits"].mean()) *100
cv2

221.2758313353473

In [ ]:
sub_df.sample(frac =0.0020)

    Rank   Title  Employees     Sector  Revenues  Profits
15    16  Costco     172000  Retailing    118719   2350.0

In [ ]:
df_sample=sub_df.sample(frac =0.70, random_state =0)
mean_2= df_sample["Revenues"].mean()
print(mean_2)

24044.977142857144

# Questions

In [ ]:
#Select 70 % random rows from the dataset and condider this as a sample. calculate mean of this sample with respect to profit column. repeat the process 5 times
# Comute the difference between actual mean and each of the sample mean seperately,tabulate your observations.

In [ ]:
 sub_df.sample(frac =0.070)

,Rank,Title,Employees,Sector,Revenues,Profits
450,451,Citizens Financial Group,17600,Financials,5763,1045.0
405,406,Activision Blizzard,9500,Technology,6608,966.0
48,49,Albertsons Cos.,274000,Food & Drug Stores,58734,-502.2
313,314,Netflix,3850,Technology,8831,186.7
308,309,Eastman Chemical,14000,Chemicals,9008,854.0
277,278,Occidental Petroleum,11000,Energy,10398,-574.0
355,356,EOG Resources,2650,Energy,7651,-1096.7
116,117,Tesoro,6308,Energy,24005,734.0
428,429,Expeditors International of Washington,16000,Transportation,6098,430.8
91,92,Gilead Sciences,9000,Health Care,30390,13501.0
496,497,Toll Brothers,4200,Engineering & Construction,5170,382.1
365,366,Quest Diagnostics,43000,Health Care,7515,645.0
319,320,Reliance Steel & Aluminum,14500,Materials,8613,304.3
129,130,Community Health Systems,108000,Health Care,21374,-1721.0
264,265,Applied Materials,16150,Technology,10825,1721.0
124,125,U.S. Bancorp,71191,Financials,22744,5888.0
170,171,Performance Food Group,13000,Wholesalers,16105,68.3
307,306,Public Service Enterprise Group,13065,Energy,9061,887.0
81,82,Tyson Foods,114000,"Food, Beverages & Tobacco",36881,1768.0
2,3,Apple,116000,Technology,215639,45687.0
183,184,Goodyear Tire & Rubber,66000,Motor Vehicles & Parts,15158,1264.0
122,123,Amgen,19200,Health Care,22991,7722.0
381,382,Erie Insurance Group,4988,Financials,7016,741.9
406,407,J.B. Hunt Transport Services,22190,Transportation,6556,432.1
446,447,Dana,24900,Motor Vehicles & Parts,5826,640.0
199,200,Textron,36000,Aerospace & Defense,13788,962.0
254,255,BlackRock,13000,Financials,11155,3172.0
30,31,Comcast,159000,Telecommunications,80403,8695.0
175,176,Whole Foods Market,73515,Food & Drug Stores,15724,507.0
162,163,Marriott International,226500,"Hotels, Restaurants & Leisure",17072,780.0
184,185,Synchrony Financial,15000,Financials,15122,2251.0
258,259,Jacobs Engineering Group,49350,Engineering & Construction,10964,210.5
429,430,Avery Dennison,25000,Materials,6087,320.7
250,251,Parker-Hannifin,48950,Industrials,11361,806.8
19,20,Fannie Mae,7000,Financials,107162,12313.0

In [ ]:
mean_profit= sub_df["Profits"].mean()
mean_profit

1779.4797999999998

In [ ]:
sam1=  sub_df.sample(frac =0.070)
mean_pro2= sam1["Profits"].mean()
print(mean_pro2)

2625.902857142857

In [ ]:
 df_sam3= sub_df.sample(frac =0.070)
 mean_pro3= df_sam3["Profits"].mean()
 print(mean_pro3)

1287.2314285714288

In [ ]:
 df_sam4= sub_df.sample(frac =0.070)
 mean_pro4= df_sam4["Profits"].mean()
 print(mean_pro4)

922.1199999999999

In [ ]:
 df_sam5= sub_df.sample(frac =0.070)
 mean_pro5= df_sam5["Profits"].mean()
 print(mean_pro5)

1083.3114285714287

In [ ]:
 df_sam6= sub_df.sample(frac =0.070)
 mean_pro6= df_sam6["Profits"].mean()
 print(mean_pro6)

1615.965714285714

In [ ]:
diff_1 =(mean_profit - mean_pro2)
print(diff_1)

-846.4230571428573

In [ ]:
diff_2 =(mean_profit - mean_pro3)
print(diff_2)

492.2483714285711

In [ ]:
diff_3 =(mean_profit - mean_pro4)
print(diff_3)

857.3598

In [ ]:
diff_4 =(mean_profit - mean_pro5)
print(diff_4)

696.1683714285712

In [ ]:
diff_5 =(mean_profit - mean_pro6)
print(diff_5)

163.51408571428578

In [ ]:
iqr_new= sub_df["Revenues"].quantile(0.75)-sub_df["Revenues"].quantile(0.25)
iqr_new

15360.25

In [ ]:
upper_limit= sub_df["Revenues"].quantile(0.75)+1.5*iqr_new
upper_limit

45645.625

In [ ]:
lower_limit=sub_df["Revenues"].quantile(0.25)-1.5*iqr_new
lower_limit

-15795.375

In [ ]:
outliers = sub_df[(sub_df['Revenues']>upper_limit) |
                  (sub_df['Revenues']<lower_limit)]
print("Outliers Rows")
print(outliers)

Outliers Rows
    Rank                       Title  Employees          Sector  Revenues  \
0      1                     Walmart    2300000       Retailing    485873
1      2          Berkshire Hathaway     367700      Financials    223604
2      3                       Apple     116000      Technology    215639
3      4                 Exxon Mobil      72700          Energy    205004
4      5                    McKesson      68000     Wholesalers    192487
..   ...                         ...        ...             ...       ...
57    58                       FedEx     335767  Transportation     50365
58    59  Hewlett Packard Enterprise     195000      Technology     50123
59    60               Cisco Systems      73700      Technology     49247
60    61                          HP      49000      Technology     48238
61    62                Dow Chemical      56000       Chemicals     48158

    Profits
0   13643.0
1   24074.0
2   45687.0
3    7840.0
4    2258.0
..      ...
57   1820.0
58   3161.0
59  10739.0
60   2496.0
61   4318.0

[62 rows x 6 columns]

In [ ]:
iqr_new2= sub_df["Profits"].quantile(0.75)-sub_df["Profits"].quantile(0.25)
iqr_new2

1535.0500000000002

In [ ]:
upper_limit2= sub_df["Profits"].quantile(0.75)+1.5*iqr_new2
upper_limit2

4073.3500000000004

In [ ]:
lower_limit2=sub_df["Profits"].quantile(0.25)-1.5*iqr_new2
lower_limit2

-2066.8500000000004

In [ ]:
outliers2 = sub_df[(sub_df['Profits']>upper_limit2) |
                  (sub_df['Profits']<lower_limit2)]
print("Outliers Rows")
print(outliers2)

Outliers Rows
     Rank                   Title  Employees       Sector  Revenues  Profits
0       1                 Walmart    2300000    Retailing    485873  13643.0
1       2      Berkshire Hathaway     367700   Financials    223604  24074.0
2       3                   Apple     116000   Technology    215639  45687.0
3       4             Exxon Mobil      72700       Energy    205004   7840.0
5       6      UnitedHealth Group     230000  Health Care    184840   7017.0
..    ...                     ...        ...          ...       ...      ...
284   285            Baker Hughes      33000       Energy      9841  -2738.0
309   310                    eBay      12600   Technology      8979   7266.0
342   343       Chesapeake Energy       3300       Energy      7872  -4401.0
343   344      Anadarko Petroleum       4500       Energy      7869  -3071.0
374   375  National Oilwell Varco      36384       Energy      7251  -2412.0

[68 rows x 6 columns]

# Karl pearson&Spearman

In [ ]:
data={
    "height":[150,160,165,170,175,180,185],
    "weight":[50,55,60,65,70,75,80]            
}
df=pd.DataFrame(data)

In [ ]:
df.head()

   height  weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70

In [ ]:
correlation=df["height"].corr(df["weight"])
print(correlation)

0.9922858194799439

In [ ]:
correlation=df["height"].corr(df["weight"],method="spearman")
print(correlation)

1.0

Find spearman(R)data

In [ ]:
df["rank1"]= df["height"].rank()
df["rank2"]= df["weight"].rank()
df.head()

   height  weight  rank1  rank2
0     150      50    1.0    1.0
1     160      55    2.0    2.0
2     165      60    3.0    3.0
3     170      65    4.0    4.0
4     175      70    5.0    5.0

In [ ]:
df["D"]=df["rank1"]-df["rank2"]

In [ ]:
df["D2"]=df["D"]**2
df.head()

   height  weight  rank1  rank2    D   D2
0     150      50    1.0    1.0  0.0  0.0
1     160      55    2.0    2.0  0.0  0.0
2     165      60    3.0    3.0  0.0  0.0
3     170      65    4.0    4.0  0.0  0.0
4     175      70    5.0    5.0  0.0  0.0

In [ ]:
sum_d2=df["D2"].sum()
sum_d2

0.0

In [ ]:
n=len(df)
n

7

In [ ]:
R=1-((6*sum_d2)/((n**3)-n))
R

1.0

Find Karl pearson of data

In [ ]:
data={
    "Height":[150,160,165,170,175,180,185,190],
    "Weight":[50,55,60,65,70,75,80,85]
}
df=pd.DataFrame(data)

In [ ]:
mean_height=df["Height"].sum()
mean_height

1375

In [ ]:
mean_weight=df["Weight"].sum()
mean_weight

540

In [ ]:
df["x-xmean"]=(df["Height"]-mean_height)
df["x-xmean"]

0   -1225
1   -1215
2   -1210
3   -1205
4   -1200
5   -1195
6   -1190
7   -1185
Name: x-xmean, dtype: int64

In [ ]:
df["y-ymean"]=(df["Weight"]-mean_weight)
df["y-ymean"]

0   -490
1   -485
2   -480
3   -475
4   -470
5   -465
6   -460
7   -455
Name: y-ymean, dtype: int64

In [ ]:
df["xy"]=df["x-xmean"]*df["y-ymean"]
df["xy"]

0    600250
1    589275
2    580800
3    572375
4    564000
5    555675
6    547400
7    539175
Name: xy, dtype: int64

In [ ]:
df["x2"]=df["x-xmean"]**2
df["x2"]

0    1500625
1    1476225
2    1464100
3    1452025
4    1440000
5    1428025
6    1416100
7    1404225
Name: x2, dtype: int64

In [ ]:
df["y2"]=df["y-ymean"]**2
df["y2"]

0    240100
1    235225
2    230400
3    225625
4    220900
5    216225
6    211600
7    207025
Name: y2, dtype: int64

In [ ]:
sum_x2=df["x2"].sum()
sum_x2

11581325

In [ ]:
sum_y2=df["y2"].sum()
sum_y2

1787100

In [ ]:
sum_xy=df["xy"].sum()
sum_xy

4548950

In [ ]:
r=sum_xy/(sum_x2*sum_y2)**(1/2)
r

0.9999024011958131