In [3]:
import pandas as pd
import numpy as np

In [62]:
data={
    "height":[150,160,165,170,175,180,185],
    "Weight":[50,55,60,65,70,75,80]
}
df=pd.DataFrame(data)                                 #we can create a dataframe from a dictionary

In [5]:
df.head(7)

   height  Weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70
5     180      75
6     185      80

In [64]:
correlation=df["height"].corr(df["Weight"])
print(correlation)                                        #IN CORRELATION IT BY DEFAULT TAKE KALESPEARSON METHOD

0.9922858194799439

In [7]:
correlation=df["height"].corr(df["Weight"],method="spearman")
print(correlation)

1.0

In [8]:
df["rank1"]= df["height"].rank()
df["rank2"]= df["Weight"].rank()
df.head()

   height  Weight  rank1  rank2
0     150      50    1.0    1.0
1     160      55    2.0    2.0
2     165      60    3.0    3.0
3     170      65    4.0    4.0
4     175      70    5.0    5.0

In [9]:
df["D"]=df["rank1"]-df["rank2"]

In [10]:
df["D2"]=df["D"]**2

In [11]:
df.head()

   height  Weight  rank1  rank2    D   D2
0     150      50    1.0    1.0  0.0  0.0
1     160      55    2.0    2.0  0.0  0.0
2     165      60    3.0    3.0  0.0  0.0
3     170      65    4.0    4.0  0.0  0.0
4     175      70    5.0    5.0  0.0  0.0

In [12]:
sum_d2=df["D2"].sum()
sum_d2

0.0

In [13]:
n=len(df)
n

7

In [14]:
correlation_sp=1-((6*sum_d2)/((n**3)-n))
correlation_sp

1.0

In [15]:
#Calculate mean of heigth & weight column manually without any inbuilt function.

In [16]:
n=len(df)
n

7

In [60]:
height= df["height"].sum()                #we calculate sum of frequency in height column 
height

1185

In [18]:
m_height= (df["height"].sum()/n)          #we find mean of height
m_height

169.28571428571428

In [19]:
f=(df["height"]-m_height)                 #then we find X-mean of height column
f

0   -19.285714
1    -9.285714
2    -4.285714
3     0.714286
4     5.714286
5    10.714286
6    15.714286
Name: height, dtype: float64

In [52]:
m=f**2                                    #then we square the X-mean of height column
m

0    371.938776
1     86.224490
2     18.367347
3      0.510204
4     32.653061
5    114.795918
6    246.938776
Name: height, dtype: float64

In [58]:
import math                              #importing maths library to use some mathematics operation

In [68]:
std_height=math.sqrt(m.sum()/n )
std_height                               #here we got our standard deviation

11.157499537009505

In [23]:
m_weight=df["Weight"].sum()/n
m_weight                                 #mean of weight

65.0

In [24]:
w=(df["Weight"]-m_weight)**2
w                                       # (X-mean)square

0    225.0
1    100.0
2     25.0
3      0.0
4     25.0
5    100.0
6    225.0
Name: Weight, dtype: float64

In [25]:
std_weight=math.sqrt(w.sum()/n)
std_weight                             #here we got our standard deviation

10.0